.tree__node_editor__container.ui.segments {
  margin: 0;

  .tree__node_editor__rich_text_editor__container.ui.segment {
    padding: 10px 0 10px 0;
    overflow: auto;
    min-height: 200px;
    max-height: 400px;

    .cm-editor {
      height: auto;
    }

    code {
      background: #e0e1e2;
      border-radius: 5px;
      padding: 0 3px 0 3px;
    }

    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .tree__node_editor__top {
    display: flex;

    > * {
      margin-right: 10px;
    }
    > *:last-child {
      margin-right: 0;
    }

    .tree__node_editor__title {
      flex-grow: 1;
    }

    .tree__node_editor__subtitle {
      flex-grow: 2;
    }
  }
}
